@import url(http://fonts.googleapis.com/css?family=PT+Serif);

body {
	margin: 0;
	padding: 0;
	border: 0;
	font:inherit;
	font-family: 'PT serif', serif;
	color: #333;
	vertical-align:baseline;
}

h1 {
	font-size: 22px;
	font-style: italic;
	line-height: 2;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

p {
	line-height: 1.5;
}

a {
	color:#333;
}

nav{
	text-align:center;
}

nav a {
	color: #000000;
	padding: 6px;
	margin: 0 6px;
	background: #FFF;
	font-size: 16.5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	text-decoration:none !important; 
}

nav a:hover {
 color: #000000;
 background: #CCC;
}

nav.foot{
	margin-top: 40px;
}

nav.foot a {
	color: #ccc;
	padding: 8px 12px;
	margin: 0 10px;
	font-size: 30px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px; 
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

nav.foot a:hover {
	color: #FFF;
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.main{
	margin: 0 auto;
	padding: 40px 20px;
	position: relative;
}

div.main p{
	float: left;
	margin: 0 20px 20px;
	padding: 0;
}

div.main img{
	width: 430px;
	height: 287px;
	border: 1px dotted #ccc;
}


div.content{
	margin: 0 auto;
	margin-bottom: 30px;
}

div.content h1{
	font-size: 30px;
	font-family: 'PT serif', serif;
	text-align:center;
	line-height: 2.5;
}

div.content p{
	font-size: 17px;
	text-align: center;
}

div.content p img{
	margin-bottom: 25px;
}

.wrapper{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAM0lEQVQYV2NkYGCQBOLnQIwVMEJFcSqCKQCpw6oIWQFWRegKMBRhU4CiCJcCuCJ8CsCKAP+uByKeX1JxAAAAAElFTkSuQmCC);
	background-attachment: fixed;
}

.flame{
	width: 985px;
	margin: 0 auto;
	padding: 10px 0 70px;
	}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
	
	div.main{
		margin: 0 auto;
		padding: 40px 12px 0;
		}
	
	div.main p{
		float: left;
		margin: 0 10px 20px;
		padding: 0;
		}
		
	div.main img{
		width: 350px;
		height: 233px;
		}
		
	div.text {
		margin: 0 auto;
		width: 500px;
	}
	
	.flame{
		width: 768px;
	}
		
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	
	nav a {
	margin: 0 4px;
	font-size: 14px;
	}
	
	div.main{
		margin: 0 auto;
		margin-top: 35px;
		}
	
	div.main p{
		float: none;
		text-align: center;
		margin: 0 10px 20px;
		padding: 0;
		}
		
	div.main img{
		width: 300px;
		height: 200px;
		}
		
	div.content h1{
		font-size: 18px;
		line-height: 4.5;
		margin-top: -20px;
		}
		
	div.prof{
		margin-top: 45px;
	}
					
	div.text {
		margin: 0 auto;
		width: 88%;
	}
	
	div#contact-area {
		width: 88%;
		margin: 70px auto;
	}
	
	header p{
		margin-top: 10px;
	}

	div#contact-area input, #contact-area textarea {
		width: 88%;
		font-size:15px;
	}

	div#contact-area textarea {
		width: 88%;
		height: 15%;
		overflow: auto;
	}
	
	.flame{
		width: 100%;
		max-width: 100%;
	}
}
	
.wrapper2{
	background: #555;
	}

.wrapper3{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkYGBIA+KZQIwXMAJl/wNxOiHFMIUg0/AqRlaIVzG6QpyKsSnEqhiXQgzF+BSiKCakEK6YGIVgxQDwdxJojMZxPwAAAABJRU5ErkJggg==);
	background-attachment: fixed;
}

.wrapper4{
	background: #FFF;
}

header p{
	text-align: center;
	margin: 50px 0 30px;
}

header .head{
	text-align: center;
	margin: 25px 0 50px;
}


header .mask{
	-webkit-mask-image: url(yamanoku.png);
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(86,86,86); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(86,86,86,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,86,86,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(86,86,86,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(86,86,86,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(86,86,86,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(86,86,86,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	height: 50px;
	width:100%;
	z-index: 9999;
}

.menu ul{
	width: 180px;
	margin: 0 auto;
}

.menu li{
	float: left;
	overflow: hidden;
	font-size: 30px;
	padding: 10px 15px;
}

.menu a{
	color: #999;
	display: inline-block;
	text-shadow: 1px 1px 0px #4d4d4d;
 	font-size: 1em;
 	text-decoration:none !important; 
}

.menu a:hover{
	color:#FFF;
}

footer p{
	text-align: center;
	clear: left;
	padding-top: 10px;
}

.prof p{
	margin: 15px 0 10px;
	font-size:14px;
	text-shadow: 0px 1px 2px #ccc;
}

.text {
	margin:0 auto;
	width:480px;
}

.text h1{
	font-size:20px;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-style: normal;
	text-shadow: 1px 1px 1px #000;
}

#contact-area {
	width: 450px;
	margin: 35px auto 65px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 420px;
	font-size:15px;
	margin-bottom: 15px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 250px;
	overflow: auto;
}


#contact-area input.submit-button{
	width: 50%;
	padding:10px;
	color:#FFF;
	text-align:center;
	background: rgb(99,182,219); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,182,219,1)), color-stop(100%,rgba(48,157,207,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
	zoom: 1;
}

#contact-area input.submit-button:hover{
	background: #005580;
}

label {
	margin-top: 5px;
}

#back-to-top {
	position: fixed;
	right: 10px;
	bottom: 10px
}

#pos {
	position: fixed;
	left: 10px;
	bottom: 10px
}

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}