@charset "utf-8";
/* CSS Document */

html, body, a, figure {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align:baseline;
}

article, figure, footer, section {
	display:block;
}


body {
	background-color: #FFF;
	font: 14px/21px ;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color: #444;
	-webkit-text-size-adjust: 100%;
}


.head {
	height:180px;
	padding-top:30px;
	background-image:url(../img/back.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.left {
	display:block;
	padding: 0 10px;
	float:left;
	height:100px;
}

.right {
	width: 920px;
	padding-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-weight: bolder;
}

h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}

h2 { font-size: 24px; line-height: 30px; margin-bottom: 5px;}

a {
	color:#333;
	font-weight:bold;
}

a img {
	border: 0;
	line-height: inherit;
}

p { margin: 0; text-align:center; line-height: 2.5px; }

img { padding: 2.5px; float: center;}

img .Lside { padding: 2.5 0 2.5 2.5px;}

img .Rside { padding: 2.5 2.5 2.5 0px;}

.main {
	width: 920px;
	margin: 0 auto;
	}

nav {
	margin: 0;
	padding: 0;
}

nav a {
 color: #000;
 font-size:22px;
 padding: 0 5 1 5px;
 margin: 0 10px;
 text-decoration:none !important;
}

nav a:hover {
 background: #EAEAEA;
 margin:0px;
 padding:10px;
}

.index {
	margin:0;
	padding:0;
}


.container {
	width: 920px;
	margin: 0 auto;
	padding-bottom:10px;
	position:relative;
	-moz-box-shadow: 0px 0px 20px #999;
	-webkit-box-shadow: 0px 0px 20px #999;
}

td h2 {
	font-size:22px;
	font-weight:lighter;
	margin:0;
}

td p.info{
	font-size:15px;
}

td p.work{
	font-size:18px;
}

td p.work2{
	font-size:14px;
}

.container p {
	text-align:center;
}

.container div p {
	text-align:left;
	line-height:30px;
}

.center {
	width: 548px;
	margin:0 auto;
	font-size:14px;
}

.center p.work3 {
	float:left;
	padding-right: 20px;
}

#contactform {
	width: 548px;
	margin: 0 auto;
	padding-top: 30px;
	overflow:auto;
}

.field{margin-bottom:50px;}
		
label {
	margin-right:10px; 
	text-align: left; 
	width: 250px; 
	line-height: 30px; 
	font-size: 20px; 
}

.input{
	font-size: 18px;
	border:1px solid #777;
	padding: 13px; 
	width: 120px; 
	border-radius: 3px;
	/* Webkit */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#eee),
		to(#fff)
		);
	-webkit-border-radius: 3px;

/* Firefox */
	background: -moz-linear-gradient(
		top,
		#eee,
		#fff
		);
	-moz-border-radius: 3px;

/* IE */
	filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffeeeeee,endColorstr=#ffffffff);
	zoom: 1;

}

.input2{
	font-size: 15px;
	border:1px solid #777;
	padding: 13px; 
	width: 350px; 
	border-radius: 3px;
	/* Webkit */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#eee),
		to(#fff)
		);
	-webkit-border-radius: 3px;

/* Firefox */
	background: -moz-linear-gradient(
		top,
		#eee,
		#fff
		);
	-moz-border-radius: 3px;

/* IE */
	filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffeeeeee,endColorstr=#ffffffff);
	zoom: 1;

}


.textarea {
	width: 480px;
	height:215px;	
}
			
.button{
	margin:0 55px 10px 0;
	font-weight: bold;
	line-height: 1;
	padding: 12px 20px;
	cursor:pointer;   
	color: #fff;
	font-size:20px;
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	
	/* Background gradient */
	background: #a5b8da;
	background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
	
}
	
	.button:hover {
	background: #848FB2;
    cursor: pointer;
}

footer {
	font-size: 16px;
}

footer p {
	line-height:28px;
}

footer div {
	 height: 200px;
	 padding-top: 80px;
	 text-align: center;
	 background-image: url(../img/back2.jpg);
	 background-repeat: no-repeat;
	 background-position: bottom; 
}

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
